div.hidden {
  display: none;
}

div.active {
  border: 5px solid red;
  margin: 1rem;
  padding: 5px;
}

table, th, td {
  border: 1px solid black;
}

.parent {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.child {
  display: inline-block;
  border: 2px solid black;
  padding: 1rem 1rem;
  vertical-align: middle;
}

#guessButton {
  display: inline-block;
}
